@typeparam TItem

<ul>
    @foreach (var item in Items)
    {
        <li>
            @ChildContent(item)
        </li>
    }
</ul>

@functions {

[Parameter] RenderFragment<TItem> ChildContent { get; set; }

[Parameter] protected IEnumerable<TItem> Items { get; set; }

}